<nav class="navbar showcase-navbar navbar-fixed-top">
  <a class="navbar-brand" href="#/">Github Showcase</a>
</nav>
<div class="showcase-content">
  <header class="page-header">
    <div class="container">
      <h1 class="project-name">GitHub Showcase</h1>
      <h2 class="project-tagline">Showcase your GitHub Profile.</h2>
      <form ng-submit="showcaseUser()" class="input-group showcase-input">
        <input type="text" placeholder="Github username. eg: jianweichuah" class="form-control" ng-model="form.username">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </form>
    </div>
  </header>
</div>
